@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
}

@keyframes color-change {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.animate-color-change {
  animation-name: color-change;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.circle {
  width: 350px;
  height: 350px;
  background: linear-gradient(to bottom, #0D7D27 50%, #0C7066 75%);
  filter: blur(200px);
}


.app-title {
  background: linear-gradient(45deg, #0C7066, #0D7D27);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}