@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
  background-color: #ffffff;
}

@keyframes color-change {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.animate-color-change {
  animation-name: color-change;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}