@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
}

@keyframes color-change {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.circle {
  width: 350px;
  height: 350px;
  background: linear-gradient(to bottom, #0D7D27 50%, #0C7066 75%);
  filter: blur(200px);
}